<h3 id="example-191">Example 191</h3>
<blockquote>
<h1 id="foo">Foo</h1>
<p>bar
baz</p>
</blockquote>
<h3 id="example-192">Example 192</h3>
<p>The spaces after the <code>&gt;</code> characters can be omitted:</p>
<blockquote>
<h1 id="foo-1">Foo</h1>
<p>bar
baz</p>
</blockquote>
<h3 id="example-193">Example 193</h3>
<p>The <code>&gt;</code> characters can be indented 1-3 spaces:</p>
<blockquote>
<h1 id="foo-2">Foo</h1>
<p>bar
baz</p>
</blockquote>
<h3 id="example-194">Example 194</h3>
<p>Four spaces gives us a code block:</p>

<pre><code>&gt; # Foo
&gt; bar
&gt; baz
</code></pre>
<h3 id="example-195">Example 195</h3>
<p>The Laziness clause allows us to omit the <code>&gt;</code> before paragraph continuation text:</p>
<blockquote>
<h1 id="foo-3">Foo</h1>
<p>bar
baz</p>
</blockquote>
<h3 id="example-196">Example 196</h3>
<p>A block quote can contain some lazy and some non-lazy continuation lines:</p>
<blockquote>
<p>bar
baz
foo</p>
</blockquote>
<h3 id="example-197">Example 197</h3>
<p>Laziness only applies to lines that would have been continuations of paragraphs had they been prepended with block quote markers. For example, the <code>&gt;</code> cannot be omitted in the second line of</p>
<blockquote>
<p>foo</p>
</blockquote>
<hr>
<p>without changing the meaning.</p>
<h3 id="example-198">Example 198</h3>

<pre><code>Similarly, if we omit the `&gt;` in the second line then the block quote ends after the first line:

&gt; - foo
- bar
</code></pre>
<h3 id="example-199">Example 199</h3>
<p>For the same reason, we can’t omit the <code>&gt;</code> in front of subsequent lines of an indented or fenced code block:</p>
<blockquote>

<pre><code>foo
</code></pre>
</blockquote>

<pre><code>bar
</code></pre>
<h3 id="example-200">Example 200</h3>

<pre><code>&gt; ```
foo
```

&lt;blockquote&gt;
&lt;pre&gt;&lt;code&gt;&lt;/code&gt;&lt;/pre&gt;
&lt;/blockquote&gt;
&lt;p&gt;foo&lt;/p&gt;
&lt;pre&gt;&lt;code&gt;&lt;/code&gt;&lt;/pre&gt;
</code></pre>
<h3 id="example-201">Example 201</h3>

<pre><code>&gt; foo
    - bar

&lt;blockquote&gt;
&lt;p&gt;foo
- bar&lt;/p&gt;
&lt;/blockquote&gt;
</code></pre>
<h3 id="example-202">Example 202</h3>
<p>A block quote can be empty:</p>
<blockquote>
</blockquote>
<h3 id="example-203">Example 203</h3>
<blockquote>
</blockquote>
<h3 id="example-204">Example 204</h3>
<p>A block quote can have initial or final blank lines:</p>
<blockquote>
<p>foo</p>
</blockquote>
<h3 id="example-205">Example 205</h3>
<p>A blank line always separates block quotes:</p>
<blockquote>
<p>foo</p>
</blockquote>
<blockquote>
<p>bar</p>
</blockquote>
<h3 id="example-206">Example 206</h3>
<p>Consecutiveness means that if we put these block quotes together, we get a single block quote:</p>
<blockquote>
<p>foo
bar</p>
</blockquote>
<h3 id="example-207">Example 207</h3>
<p>To get a block quote with two paragraphs, use:</p>
<blockquote>
<p>foo</p>
<p>bar</p>
</blockquote>
<h3 id="example-208">Example 208</h3>
<p>Block quotes can interrupt paragraphs:</p>
<p>foo</p>
<blockquote>
<p>bar</p>
</blockquote>
<h3 id="example-209">Example 209</h3>
<p>In general, blank lines are not needed before or after block quotes:</p>
<blockquote>
<p>aaa</p>
</blockquote>
<hr>
<blockquote>
<p>bbb</p>
</blockquote>
<h3 id="example-210">Example 210</h3>
<p>However, because of laziness, a blank line is needed between a block quote and a following paragraph:</p>
<blockquote>
<p>bar
baz</p>
</blockquote>
<h3 id="example-211">Example 211</h3>
<blockquote>
<p>bar</p>
</blockquote>
<p>baz</p>
<h3 id="example-212">Example 212</h3>
<blockquote>
<p>bar</p>
</blockquote>
<p>baz</p>
<h3 id="example-213">Example 213</h3>
<p>It is a consequence of the Laziness rule that any number of initial <code>&gt;</code>s may be omitted on a continuation line of a nested block quote:</p>
<blockquote>
<blockquote>
<blockquote>
<p>foo
bar</p>
</blockquote>
</blockquote>
</blockquote>
<h3 id="example-214">Example 214</h3>
<blockquote>
<blockquote>
<blockquote>
<p>foo
bar
baz</p>
</blockquote>
</blockquote>
</blockquote>
<h3 id="example-215">Example 215</h3>
<p>When including an indented code block in a block quote, remember that the block quote marker includes both the <code>&gt;</code> and a following space. So five spaces are needed after the <code>&gt;</code>:</p>
<blockquote>

<pre><code>code
</code></pre>
</blockquote>
<blockquote>
<p>   not code</p>
</blockquote>
