<h3 id="example-159">Example 159</h3>
<p><a href="/url" title="title">foo159</a></p>
<h3 id="example-160">Example 160</h3>
<p><a href="/url" title="the title">foo160</a></p>
<h3 id="example-161">Example 161</h3>
<p><a href="my_(url)" title="title (with parens)">Foo161*bar]</a></p>
<h3 id="example-162">Example 162</h3>
<p><a href="my%20url" title="title">Foo162 bar</a></p>
<h3 id="example-163">Example 163</h3>
<p><a href="/url" title="
title
line1
line2
">foo163</a></p>
<h3 id="example-164">Example 164</h3>
<p>[foo164]: /url &#39;title</p>
<p>with blank line&#39;</p>
<p>[foo164]</p>
<h3 id="example-165">Example 165</h3>
<p><a href="/url">foo165</a></p>
<h3 id="example-166">Example 166</h3>
<p>[foo166]:</p>
<p>[foo166]</p>
<h3 id="example-167">Example 167</h3>

<pre><code>[foo167]: /url\bar\*baz &quot;foo\&quot;bar\baz&quot;

[foo167]

should render to

&lt;p&gt;&lt;a href=&quot;/url%5Cbar*baz&quot; title=&quot;foo&amp;quot;bar\baz&quot;&gt;foo167&lt;/a&gt;&lt;/p&gt;
</code></pre>
<h3 id="example-168">Example 168</h3>
<p><a href="url">foo168</a></p>
<h3 id="example-169">Example 169</h3>
<p><a href="first">foo169</a></p>
<h3 id="example-170">Example 170</h3>
<p><a href="/url">Foo170</a></p>
<h3 id="example-171">Example 171</h3>
<p><a href="/φου">αγω</a></p>
<h3 id="example-172">Example 172</h3>
<h3 id="example-173">Example 173</h3>
<p>bar</p>
<h3 id="example-174">Example 174</h3>
<p>[foo174]: /url &quot;title&quot; ok</p>
<h3 id="example-175">Example 175</h3>
<p>&quot;title&quot; ok</p>
<h3 id="example-176">Example 176</h3>

<pre><code>[foo176]: /url &quot;title&quot;
</code></pre>
<p>[foo176]</p>
<h3 id="example-177">Example 177</h3>

<pre><code>[foo177]: /url
</code></pre>
<p>[foo177]</p>
<h3 id="example-178">Example 178</h3>
<p>Foo
[bar178]: /baz</p>
<p>[bar178]</p>
<h3 id="example-179">Example 179</h3>
<h1 id="foo179"><a href="/url">Foo179</a></h1>
<blockquote>
<p>bar</p>
</blockquote>
<h3 id="example-180">Example 180</h3>
<p><a href="/foo-url" title="foo">foo180</a>,
<a href="/bar-url" title="bar">bar180</a>,
<a href="/baz-url">baz180</a></p>
<h3 id="example-181">Example 181</h3>
<p>[foo181]</p>
<blockquote>
<p>[foo181]: /url</p>
</blockquote>
