<blockquote>
<p>hello one
[1]: hello</p>
</blockquote>
<hr>
<blockquote>
<p>hello two
[2]: hello</p>
</blockquote>

<ul>
<li>hello three</li>
<li>[3]: hello</li>
</ul>

<ul>
<li>hello four</li>
</ul>
<blockquote>
<p>foo
bar
[5]: foo
bar</p>
</blockquote>
