
<pre><code class="lang-js">var a = &#39;hello&#39;;
console.log(a + &#39; world&#39;);
</code></pre>

<pre><code class="lang-bash">echo &quot;hello, ${WORLD}&quot;
</code></pre>

<pre><code class="lang-longfence">Q: What do you call a tall person who sells stolen goods?
</code></pre>

<pre><code class="lang-ManyTildes">A longfence!
</code></pre>
<p>How about an empty code block?</p>

<pre><code class="lang-js">
</code></pre>
<p>How about a code block with only an empty line?</p>

<pre><code class="lang-js">
</code></pre>
<p>With some trailing empty lines:</p>

<pre><code>ciao


</code></pre>
