<p>Dashes:</p>
<hr>
<hr>
<hr>
<hr>

<pre><code>---
</code></pre>
<hr>
<hr>
<hr>
<hr>

<pre><code>- - -
</code></pre>
<p>Asterisks:</p>
<hr>
<hr>
<hr>
<hr>

<pre><code>***
</code></pre>
<hr>
<hr>
<hr>
<hr>

<pre><code>* * *
</code></pre>
<p>Underscores:</p>
<hr>
<hr>
<hr>
<hr>

<pre><code>___
</code></pre>
<hr>
<hr>
<hr>
<hr>

<pre><code>_ _ _
</code></pre>
<p>Not horizontal rules:</p>
<p>--*</p>
<p>-*-</p>
<p>*--</p>
<p> -_-</p>
<p>  __-</p>
<p>   -__</p>

<pre><code>_-_
</code></pre>
<p>Long rules:</p>
<hr>
<hr>
<hr>
