<p>Just a <a href="/url/">URL</a>.</p>
<p><a href="/url/" title="title">URL and title</a>.</p>
<p><a href="/url/" title="title preceded by two spaces">URL and title</a>.</p>
<p><a href="/url/" title="title preceded by a tab">URL and title</a>.</p>
<p><a href="/url/" title="title has spaces afterward">URL and title</a>.</p>
<p><a href="/url/has space">URL and title</a>.</p>
<p><a href="/url/has space/" title="url has space and title">URL and title</a>.</p>
<p><a href="">Empty</a>.</p>
<p>Now some links with special link text.</p>
<p><a href="http://abc.com">hello [ ok</a></p>
<p><a href="http://abc.com">hello [] with balanced brackets</a></p>
<p><a href="http://abc.com">hello! [ ] with escaped balanced brackets</a></p>
<p><a href="http://abc.com">hello \ with a backslash</a></p>
<p><a href="http://abc.com">link w/ escaped back\slash</a></p>
<p><a href="http://abc.com">link w/ back\slash\</a></p>
