<p>hello world
    text after spaces
    text after spaces</p>
<p>paragraph before code</p>

<pre><code>text inside block code
</code></pre>
<p>paragraph before hr</p>
<hr>
<p>paragraph before head with hash</p>
<h1 id="how-are-you">how are you</h1>
<p>paragraph before head with equals</p>
<h1 id="how-are-you-1">how are you</h1>
<p>paragraph before blockquote</p>
<blockquote>
<p>text for blockquote</p>
</blockquote>
<p>paragraph before list</p>

<ul>
<li>text inside list</li>
</ul>
<p>paragraph before div</p>
<div>text inside div</div>

<p>paragraph with span
<span>text inside span</span></p>
<p>hello <a href="/are/you">world</a></p>
<div>hello</div>

<p><span>hello</span></p>
